yandex-chain
streamlit
streamlit-chat
langchain==0.1.4
yandexcloud==0.255.0
python-dotenv
pyperclip
base64
Pillow
pytesseract
python-docx
fuzzywuzzy
python-docx
opencv-python
numpy
requests
pdfplumber
pandas