streamlit
pandas
openpyxl
datetime
sqlalchemy
soundfile
requests
Pillow
pytesseract
docx
numpy
pdfplumber
moviepy
pydub
noisereduce
SpeechRecognition
python-docx
opencv-python
base64
uuid
